<%-include ('partials/header') %>




	<!-- about -->
	<div class="welcome py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>Search Result</span>
			
			<!-- //tittle heading -->
			<div class="row">
				
			
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- testimonials -->
  <div class="row">
    <!-- product left -->
    <div class="agileinfo-ads-display col-lg-12">
      <div class="wrapper">
        <!-- first section -->
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
          <h4 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">Search Air Conditioners</h3>
          <div class="row">

             <% 
               var totprice=0;
                               if (data && data.product){%>
                                <% for(var i = 0; i < data.product.length; i++){%>
                               <!-- Cart Item -->

                        

                 
								<div class="col-md-4 product-men mt-5">
									<div class="men-pro-item simpleCart_shelfItem">
										<div class="men-thumb-item text-center">
											<img src= "product/<%= data.product[i].photo_name %>" width="200" height="200" alt="">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="#" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center border-top mt-4">
											<h4 class="pt-1">
												<a href="#"><%= data.product[i].brname %></a>
											</h4>
											<div class="info-product-price my-2">
												<span class="item_price">$<%= data.product[i].brperunit %></span>
												
											</div>
											<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												
													<fieldset>
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_name" value="Sony 80 cm (32 inches)" />
														<input type="hidden" name="amount" value="320.00" />
														<input type="hidden" name="discount_amount" value="1.00" />
														<input type="hidden" name="currency_code" value="USD" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<a class="button_1" href="/prdtdet/<%= data.product[i].brid %>">
														<button class="btn btn-theme04" type="button">Add To Cart</button></a>
													</fieldset>
												
											</div>
										</div>
									</div>
								</div>
           

                        <%}%>
                            <%}%>
     
       
                          </div>

<%-include ('partials/footer') %>